<%- include("includes/head.ejs") %>
<body>
    <h1>This is the HomePage 1 +2 </h1>
    <h2><%= ["Hello ", "Bonjour ", "Namaste "][0] + "Shubham Prakash".toUpperCase() %></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quae reiciendis modi nisi enim quas, impedit ducimus? Quod accusantium porro nisi, libero excepturi qui aspernatur laborum in nobis quasi totam!</p>
    <button>Click Me!</button>
    <%- include("includes/footer.ejs") %>
</body>
</html>