<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Quora Post</h1>
        <a href="http://localhost:8080/posts" class="back-button">Back</a>
    </header>
    <h2 class="single-post-header">Here is your post: </h2>
    <div class="post-container">
        <div class="post">
            <h3 class="user"> @<%= post.user %> </h3>
            <p class="content"> <%= post.content %> </p>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit" class="edit">Edit</a>&nbsp;&nbsp;
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE" style="display:inline">
                <button class="sbmt-btn">Delete</button>
            </form>
        </div>
    </div>
</body>
</html>